
.container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form > * {
  margin-bottom: 10px;
}

#login-form label,
#login-form input[type="email"],
#login-form input[type="password"] {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-form label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

#login-button {
  padding: 14px;
  font-size: 24px;
  width: 100%;
  background-color: #006400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-button:hover {
  background-color: #004d00;
}

#login-button {
  margin: 0 auto;
}

#login-form label[for="id_email"] {
  display: block;
}

#login-form label[for="id_password"] {
  display: block;
}